.dropdownContainer {
  position: relative;
  width: 100%;
}

.dropdownList {
  padding-left: 0px;
  border-radius: 10px;
  list-style: none;
  padding: 0;
  margin: 0.25rem 0 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #2c2c2c;
  border: 1px solid #444;
  border-radius: 8px;
  z-index: 1000;
  max-height: 140px;
  overflow-y: auto;
  /* scrollbar-width: thin; */
  scrollbar-width: none;
}

.input-container .dropdownList {
  padding-left: 0;
}

.dropdownList li {
  list-style: none; /* Убирает точки у <li> */
  padding-left: 0; /* Убирает отступ слева у <li> */
  padding-left: 5px;
}

.dropdownElement {
  padding: 8px 12px; /* Отступы только сверху/снизу и справа/слева */
  cursor: pointer;
  background: white;
  list-style: none; /* На всякий случай */
}

.dropdownElement:hover {
  background: #f5f5f5;
}

.dropdownElement.selected {
  background: #f0f0f0;
}

.dropdownEmpty {
  padding: 8px 12px;
  color: #666;
  list-style: none; /* Убирает точки */
}
