input.some-input {
  margin-top: 20px;
  height: 20px;
  width: 50vh;
  padding: 10px;
  border: 2px solid #6b6b6b;
  border-radius: 10px;
}

.ssid-container {
  display: flex;
  gap: 10px;
  width: 52.54vh;
}

select#reg {
  width: 50vh;
}

.ssid-container select {
  width: 75px;
}

select {
  height: 44px;
  padding: 10px;
  border: 2px solid #6b6b6b;
  border-radius: 10px;
  margin-top: 20px;
}
