input.some-input {
  margin-top: 20px;
  height: 20px;
  width: 50vh;
  padding: 10px;
  border: 2px solid #6b6b6b;
  border-radius: 10px;
}

.ssid-container {
  display: flex;
  gap: 10px;
  width: 52.54vh;
}

select#reg {
  width: 50vh;
}

.ssid-container select {
  width: 75px;
}

select {
  height: 44px;
  padding: 10px;
  border: 2px solid #6b6b6b;
  border-radius: 10px;
  margin-top: 20px;
}

/* Скрываем стандартный элемент input */
input[type="file"] {
  display: none;
}

/* Создаем кнопку для выбора файла */
.custom-file-upload {
  background-color: #4CAF50;
}

.custom-file-upload:hover {
  background-color: #45a049;
}

.custom-file-upload:active {
  transform: scale(1.2);         /* Восстановление размера при нажатии */
}

/* Отображаем название файла */
.file-name {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}
