/* Light Theme Styles */
/* Стили для h2 с более тонким подчеркиванием */
h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #0d398d;
  text-align: center;
  line-height: 1.4;
  letter-spacing: 0.5px;
}

#app {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app::after {
  content: '';
  display: block;
  height: 50px;
}

#authorization,
#status,
#pppoe,
#wifi,
#camNtu,
#settings,
#region,
#work,
#repalcement,
#info,
#disabling {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}

.toolbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user,
#log {
  width: 100%;
  align-items: center;
}

.result {
  width: 80%;
}

pre {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-bottom: 0px;
}

.input-container ul {
  padding-left: 15px;
  list-style-type: disc;
}

.input-container ul li {
  margin-bottom: 10px;
  text-align: left;
}

h6 {
  font-family: 'Georgia', 'Times New Roman', serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: normal;
  color: #333;
}

h5 {
  font-family: 'Georgia', 'Times New Roman', serif;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 1.6;
  font-weight: lighter;
  color: #333;
}

h4 {
  font-family: 'Georgia', 'Times New Roman', serif;
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #333;
}

h3 {
  font-family: 'Georgia', 'Times New Roman', serif;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 0px;
  font-size: 12px;
  color: #333;
}

#WebApp {
  min-height: 100vh;
  text-align: center;
  background-color: #f0f2f5;
}

.input-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-password-btn {
  margin-left: -30px;
  margin-top: 18px;
  border: none;
  background: transparent;
  padding: 6px;
  cursor: pointer;
}

.toggle-password-btn:disabled {
  cursor: not-allowed;
}

/* Dark Theme Styles */
body.dark-mode h2 {
  color: #e2e2e2;
}

body.dark-mode #app {
  background-color: #2a2a2a;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

body.dark-mode #WebApp {
  background-color: #1e1e1e;
}

body.dark-mode h6,
body.dark-mode h5,
body.dark-mode h4,
body.dark-mode h3 {
  color: #e2e2e2;
}

body.dark-mode pre {
  color: #e2e2e2;
}

body.dark-mode .input-container ul li {
  color: #e2e2e2;
}
